.header{
    background-color: black;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1em;
    padding: 1em;
    grid-template-rows: auto;
    
}

.item{
    display: grid;
    grid-template-rows: subgrid;
    gap: 5px;
    grid-row: span 4;

    
}

.img{
    display: block;
    width: 100%;
}

.button{
    padding: 0.75em 1em;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    border: 1px;
    border-radius: 10%;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
}

.item__img{
    position: relative;
}

.item__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
    gap: 1em;
    justify-content: flex-start;
    align-items: flex-start;
    font-family:'Courier New', Courier, monospace;
    
    
    
}

.item__artist{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
}

.item__title{
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}

@media (min-width: 600px) {
    .products{
    
    
    grid-template-columns: repeat(3, 1fr);
    
    
    }
}